<div class=" container mt-2" >
  <h3>Add User </h3>
</div>

<div class="container mt-2 mb-5">
  <form [formGroup]="form" (ngSubmit)="onSumbit()"  >
    <div class="mb-3">
      <label  class="form-label">First Name</label>
      <input type="email"   class="form-control" formControlName="firstName" >
    </div>
    <div class="mb-3">
      <label  class="form-label">Last Name</label>
      <input type="text"  class="form-control" formControlName="lastName" >
    </div>
    <div class="mb-3">
      <label  class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>

    <div class="mb-3">
      <label   class="form-label">Password</label>
      <input type="password"   class="form-control"  formControlName="password" >
    </div>

    <div class="mb-3">
      <label  class="form-label">Role</label>
      <select  class="form-select"  formControlName="role" >
        <option  value="Admin">Admin</option>
        <option  value="User">User</option>
      </select>
    </div>

    <div class="mb-3">
      <label  class="form-label">Status</label>
      <select  class="form-select"  formControlName="status" >
        <option  value="locked">locked</option>
        <option  value="unlocked">unlocked</option>

      </select>
    </div>
    <button type="submit"  class="btn me-2  d-inline-block btn-primary">Submit</button>
    <button routerLink=""  class="btn btn-secondary">cancel</button>
  </form>

  <div *ngIf="error" class="alert alert-danger mt-3" role="alert">
    {{error}}
  </div>
</div>

